<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact</h2>
        <h3 class="section-subheading
			       text-muted">
                      Download resume:&nbsp;
		      <a href="{{ "/Konrad_Gorski_CV.pdf" | prepend: site.baseurl }}">
			<i class="fa fa-file-pdf-o fa-lg"></i>
		    </a></h3>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <p class="lead">
            <a href="mailto:konrad@gorskisolutions.com">
                <span class="fa-stack" style="margin-right: 5px">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>konrad@gorskisolutions.com
            </a>
        </p>
        <p class="lead">
            <a href="tel:+48697396937">
                <span class="fa-stack" style="margin-right: 5px">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>+48 697 396 937
            </a>
        </p>
        <p class="lead">
            <a href="https://linkedin.com/in/konradgrski">
                <span class="fa-stack" style="margin-right: 5px">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-linkedin-square fa-stack-1x fa-inverse"></i>
                </span>linkedin.com/in/konradgrski
            </a>
        </p>
    </div>
  </div>
</section>
